:root {
  font-family: "Roboto Light", sans-serif;
  line-height: 1;
  font-weight: 400;

  background-color: #FFFFFF;
  color: #000000;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

html {
  -webkit-text-size-adjust: 100%;
  font-family: var(--ff-rubik), sans-serif;
  font-size: calc(1vw / (1920 / 100));
  line-height: 1;
  tab-size: 4;
  height: 100%;
  overflow: hidden;
  scroll-behavior: smooth;
}

* {
  outline: none;
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
}

/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: currentColor;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}


a {
  color: inherit;
  text-decoration: inherit;
}

pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
  'Courier New', monospace;
}

hr {
  border-width: 1rem;
}

h1,
h2 {
  font-size: inherit;
  font-weight: inherit;
}

table {
  width: 0;
}

table td {
  padding: 5rem;
}

option {
  color: #000;
}
